/* 헤더 영역 */

header{
    margin:0;
    padding:0;
    
    width: 100%;
    height: 200px;
    color: white;
    background-color: black;
}

.flex-container{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right:3%;
    border-bottom: 3px solid white;
}

.flex-words{
    width:100px;
    font-size: 10px;
    color : white;
    word-wrap: break-word;
}

/* 섹션 영역 */

section{
    margin : 0;
    padding : 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    width : 100%;
    height: 90vh;
}

.flex-box{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    width: 80%;
    height: 70px;
}

/* 박스 색상 */
.box1{background-color: #71C168;}
.box2{background-color: #FDC858;}
.box3{background-color: #F79647;}
.box4{background-color: #EB5654;}
.box5{background-color: #AA58A2;}
.box6{background-color: #01AED0;}
