body{
    margin-top:5%;
    margin:auto;
    width:800px;
    height:850px;
    background-color: black;
    box-shadow: 10px 10px 10px 10px #ECEBEB;
    padding:0;
}

header{
    color:white;
    margin-top:3%;
    font-size:10px;
    margin-left: 3%;
    margin-right:3%;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.container{
    padding:0;
    margin:0;
    display:inline-block;
    width: 110px;
    height:110px;
    background-color: red;
    color:white;
}

div{
    padding:0;
    margin:0;
}

.words{
    position: relative;
    padding:0;
    margin:0;
}

.absolute_position{
    position: absolute;
    left : 300px;
    background-color: green;
}

.Fixed_position{
    position: fixed;
    left:100px;
    background-color: blue;
}

.box{
    position:relative;
    margin:auto;
    margin-top: 20px;
    width:66%;
    height:50px;
    top:200px;
}
.box1{background-color: #71C168;}
.box2{background-color: #FDC858;}
.box3{background-color: #F79647;}
.box4{background-color: #EB5654;}
.box5{background-color: #AA58A2;}
.box6{background-color: #01AED0;}